

{% load static %}
<!-- <body style="background-color: white;"> -->
    {% include  "./Header.html"%}
    <!-- {% if request.session.name == None %}
                <button style="right: 0%;position: absolute;background-color: #e7e7e7;"><a href="/ORS/Registration"><span style="color:black;">Registration</span> </a></button>
                <button style="right: 8%;position: absolute;background-color:#e7e7e7;"><a href="/ORS/Login"><span style="color: black;">Login</span>  </a></button>
   {% endif%}    -->
<body style="background-color: whitesmoke;background-image:url(https://image.freepik.com/free-photo/bright-ladders-stack-colorful-blank-books-yellow-background_23-2148207674.jpg); background-repeat:no-repeat;width: 100%; background-size: cover">	
        <!-- <body style="background-image: url('https://media.giphy.com/media/JrSwnF7PLhgvmNfM8C/giphy.gif');
        background-size: cover;
        height: 100vh;
        padding:0;
        margin:0;"> -->
        <!-- <button style="right: 0%;position: absolute;background-color: #e7e7e7;"><a href="/ORS/Registration"><span style="color:black;">Registration</span> </a></button>
        <button style="right: 8%;position: absolute;background-color:#e7e7e7;"><a href="/ORS/Login"><span style="color: black;">Login</span>  </a></button> -->
	<div class="container-fluid">
            <br> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 align="center">
                <img src="{% static '/images/img3.png'%}" class="mx-auto d-block" style="width: 35%">
                <br>
            </h1>  
	</div>          
	</body>
{% include  "./Footer.html"%}
	