


<!-- <body style="background-color: whitesmoke;background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfkNlydx3jV9Lv1hYEA7P5TaqyXKsUvS9bkg&usqp=CAU); background-repeat:no-repeat;width: 100%; background-size: cover">	 -->

    <body style="background-color: whitesmoke;background-image:url(https://image.freepik.com/free-photo/glasses-are-pink-notebook-pencil-yellow-background-there-was-pencil-stickers-paper-clips-flower-workplace-freelancer-businessman-entrepreneur_112337-1211.jpg); background-repeat:no-repeat;width: 100%; background-size: cover ">	


{% include  "./Header.html"%}

<div class="modal-dialog">
    {% if form.error  %}
    <p style="color: red;"> {{form.message}}</p>
    {% else %}
    <p style="color: green;"> {{form.message}}</p>
    {% endif %}

    <div class="modal-content" style="background-color: rgb(6 78 90 / 50%);">
        <div class="modal-header text-center">
            <h4 class="modal-title ">My Profile Information</h4>
            
        </div>
        <form method="POST">
            <input type="hidden" name="id" value="{{form.id}}">
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">First Name  </label>
                    <div class="col-lg-9">
                        <p name="firstName" value="{{form.firstName}}" class="form-control">{{form.firstName}}</p>
                        <span style="color: red;"> {{form.inputError.firstName}} </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Last Name </label>
                    <div class="col-lg-9">
                        <p class="form-control" name="lastName" value="{{form.lastName}}">{{form.lastName}}</p>
                        <span style="color: red;"> {{form.inputError.lastName}} </span> </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Login </label>
                    <div class="col-lg-9">
                        <p class="form-control" name="login" value="{{form.login}}">{{form.login_id}}</p>
                        <span style="color: red;"> {{form.inputError.login_id}} </span>   
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Password  </label>
                    <div class="col-lg-9">
                        <p class="form-control" name="password" value="{{form.password}}">{{form.password}}</p>
                        <span style="color: red;"> {{form.inputError.password}} </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Date Of Birth </label>
                    <div class="col-lg-9">
                        <p style="cursor: pointer" name="dob" value="{{form.dob}}" class="form-control"
                            placeholder="DD-MM-YYYY">{{form.dob}}</p>
                        <span style="color: red;"> {{form.inputError.dob}} </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Mobile</label>
                    <div class="col-lg-9">
                        <p class="form-control" name="mobileNumber" value="{{form.mobilenumber}}">{{form.mobilenumber}}</p>
                        <span style="color: red;"> {{form.inputError.mobilenumber}} </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Gender </label>
                    <div class="col-lg-9">
                        <p class="form-control" name="gender" value="{{form.gender}}">{{form.gender}}</p>
                        <!--
                         <select class="form-control" name="gender">
                            <option>--Select--</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        -->
                    </div>
                </div>
                <!-- <div>
                    <a href="/ORS/User/edit/{{e.firstName}}"if (e.id==1?readable:false)>Edit
                        <i class="fas fa-edit">
                        </i>
                    </a>

                </div> -->

           
            </div>
        </form>
    </div>
</div>
</div>


</body>
{% include  "./Footer.html"%}