




<body style="background-color: whitesmoke;background-image:url(https://wallpaperaccess.com/full/3847549.jpg); background-repeat:no-repeat;width: 100%; background-size: cover"></body>
{% include  "./Header.html"%}
    <div class="container">
        <!-- <div>
            <H2>Student </H2> 
        </div> -->
        <div class="modal-dialog" role="document">
            
    <div class="modal-content"  style=" width: 729px;margin-left: -118PX;background-color: rgba(241, 229, 229, 0.972);">

                <div class="modal-header text-center" >
                        <h4 class="modal-title " style="padding-left: 207px; font-family: bold; font-size: xx-large;">Student Information</h4>
                </div>
                <div class="modal-body">
                   
    
                    <form method="POST">
                            {% if form.error  %}
                            <p style="color: red;"> {{form.message}}</p>
                            {% else %}
                            <p style="color:rgb(45, 187, 16) ;text-align: center;font-size: x-large;"> {{form.message}}</p>
                            {% endif %}
                        <input type="hidden" name="id" value="{{form.id}}">
                        <div class="form-group row">
                                
                            <label class="col-lg-2 form-control-label">First Name<span style="color: red;">*</span> </label>
                            <div class="col-lg-4">
                                <input class="form-control" name="firstName" value="{{form.firstName}}" placeholder="Enter your First Name">
                                <span style="color: red;"> {{form.inputError.firstName}}</span>
                            </div>
                            <label class="col-lg-2 form-control-label">Last Name<span style="color: red;">*</span> </label>
                            <div class="col-lg-4">
                                <input class="form-control" name="lastName" value="{{form.lastName}}" placeholder="Enter your Last Name">
                                <span style="color: red;"> {{form.inputError.lastName}} </span>
    
                            </div>
                        </div>
                        
                        <div class="form-group row">
                               
                            <label class="col-lg-2 form-control-label">College<span style="color: red;">*</span></label>
                            <div class="col-lg-4">
                                <select class="form-control" name="college_ID">
                                    <option>--Select--</option>
                                    {% for form in collegeList %}
                                    <option value="{{form.id}}">{{form.collegeName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-lg-2 form-control-label">DOB<span style="color: red">*</span> </label>
                            <div class="col-lg-4">
                                <input  style="cursor: pointer" readonly id = "datepicker"   name="dob" value="{{form.dob}}" class="form-control"
                                placeholder="MM-DD-YYYY" />
                                <span style="color: red;"> {{form.inputError.dob}} </span>
                            </div>
                            <!-- <label class="col-lg-2 form-control-label">Clg Name<span style="color: red;">*</span> </label>
                            <div class="col-lg-4">
                                <input class="form-control" name="collegeName" value="{{form.collegeName}}" placeholder="Enter your College Name">
                                <span style="color: red;"> {{form.inputError.collegeName}} </span>
    
                            </div> -->
                        </div>
                       
    
                        <div class="form-group row">
                               
                            
                            <label class="col-lg-2 form-control-label">Mobile<span style="color: red;">*</span> </label>
                            <div class="col-lg-4">
                                <input class="form-control" name="mobileNumber" value="{{form.mobileNumber}}" placeholder="Enter your Mobile Number">
                                <span style="color: red;"> {{form.inputError.mobileNumber}} </span></div>

                                <label class="col-lg-2 form-control-label">Email<span style="color: red;">*</span> </label>
                                <div class="col-lg-4">
                                    <input class="form-control" name="email" value="{{form.email}}"placeholder="Enter your Email id">
                                     <span style="color: red;"> {{form.inputError.email}} </span>
                                </div>
                        </div>
                        
                        <div class="form-group row">
                                
                           
                        </div>
                        <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success" style="width: 100px;">Save
                                       
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button type="reset" class="btn btn-primary" style="width: 100px;">Reset
                                       
                                    </button>
                                </div>
                            </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    </body>
    {% include  "./Footer.html"%}