



<body style="background-color: whitesmoke;background-image:url(https://wallpaperaccess.com/full/3847549.jpg); background-repeat:no-repeat;width: 100%; background-size: cover"></body>

    <!-- <body style="background-color: whitesmoke;background-image:url(https://miro.medium.com/max/3840/1*Ggoe0CCCsTvO_Kg6f7dgEA.png); background-repeat:no-repeat;width: 100%; background-size: cover">	 -->
    
    {% include  "./Header.html"%}
    <div class="container">
        <div>
            <H2></H2>
        </div>
        <div class="modal-dialog" role="document">
            <div class="modal-content" style=" width: 500px;background-color: rgba(241, 229, 229, 0.972);">
                <div class="modal-header text-center">
                    <h4 style="font-family: bold; font-size: xx-large;padding-left: 97px;">Subject Information</h4>
                </div>
                <div class="modal-body">
                   
    
                    <form method="POST">
                            {% if form.error  %}
                            <p style="color: red;"> {{form.message}}</p>
                            {% else %}
                            <p style="color:rgb(45, 187, 16) ;text-align: center;font-size: x-large;"> {{form.message}}</p>
                            {% endif %}
                        <input type="hidden" name="id" value="{{form.id}}">
                        <div class="form-group row">
                                <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">Subject<span style="color: red;"> * </span> </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="subjectName" value="{{form.subjectName}}" placeholder="Enter your Subject Name">
                                <span style="color: red;"> {{form.inputError.subjectName}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">Description <span style="color: red;"> * </span> </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="subjectDescription" value="{{form.subjectDescription}}" placeholder="Enter your Subject Discription">
                                <span style="color: red;"> {{form.inputError.subjectDescription}} </span>
    
                            </div>
                        </div> 
                        <div class="form-group row">
                                <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">courseName<span style="color: red;">*</span> </label>
                            <div class="col-lg-8">
                                <select class="form-control" name="course_ID">
                                    <option>--Select--</option>
                                    {% for form in collegeList %}
                                   <option value="{{form.id}}">{{form.courseName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> 
                        <!-- <div class="form-group row">
                                <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">CourseName<span style="color: red;">*</span> </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="courseName" value="{{form.courseName}}" placeholder="Enter your Course Name">
                                <span style="color: red;"> {{form.inputError.courseName}} </span>
    
                            </div>
                        </div> -->
    
                        <!-- <div class="form-group row">
                                <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">DOB <span style="color: red;"> * </span></label>
                            <div class="col-lg-8">
                                <input style="cursor: pointer" type="date" class="form-control" name="dob"
                                    value="{{form.dob}}">
                                <span style="color: red;"> {{form.inputError.dob}} </span>
                            </div>
                        </div> -->
                        <!-- <div class="form-group row">
                            <label class="col-lg-3 form-control-label">Mobile </label>
                            <div class="col-lg-9">
                                <input class="form-control" name="mobileNumber" value="{{form.mobileNumber}}">
                                <span style="color: red;"> {{form.inputError.mobileNumber}} </span></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 form-control-label">Email </label>
                            <div class="col-lg-9">
                                <input class="form-control" name="email" value="{{form.email}}">
                                <span style="color: red;"> {{form.inputError.email}} </span>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success" >Save
                                   
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="reset" class="btn btn-primary" >Reset
                                   
                                </button>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    </body>
    {% include  "./Footer.html"%}